playground
election_data_wrangler/entities
# election_data_wrangler/main.py
election_data_wrangler/source_data
election_data_wrangler/output_data

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
